doctype html
html(lang="en")
  head
    title= pageTitle
    script(type='text/javascript').
      function myFunction() {
        var copyText = document.getElementById("code");

        /* Select the text field */
        copyText.select();
        copyText.setSelectionRange(0, 99999); /* For mobile devices */

        /* Copy the text inside the text field */
        navigator.clipboard.writeText(copyText.value);
      }

  style 
    #container
      background= red
  body
    center
      img(src="https://github.com/nombrekeff/images/blob/cd5670b344d2813ef48b016cbc0b24caa986bb3e/init_icon.png?raw=true")
      h1(style={"color": '#393939'}) Bienvenido a Pegues, #{user}!
      p(style={"color": '#74787B'}) Para verificar tu cuenta introduce el siguiente código en la applicación
      br
      #container.col(style={background: '#3B3E42', color: '#ECEFF2', display: 'grid', 'place-items': 'center',
        width: '300px', 'padding': '0 20px', 'border-radius': '8px'}, (click)="myFunction()") 
        h1(id='code',style={"font-weight": '400'}) #{code}

      p(style={"color": '#74787B'}) O haz clic en el siguiente enlace:
      a(href=""+activate_url) Activar cuenta
